@import "../../styles/variables";

.link-home{
    width: 85px;
    border: none;
    font-family: "Exo-2-SemiBold", sans-serif;
    font-size: $font-size-subline-1;
    line-height: 24px;
    color: $color-secondary;
    text-align: right;
    background: url('./icon/homeDefault.svg') no-repeat left;
    background-color: inherit;
    padding-top: 2px;
    cursor: pointer;

    &:hover{
        background: url('./icon/homeHover.svg') no-repeat left;
        color: $color-primary2
    }

    &:active{
        background: url('./icon/homeActive.svg') no-repeat left;
        color: $color-primary;
    }

    &:disabled{
        background: url('./icon/homeDisabled.svg') no-repeat left;
        color: $color-graphite;
        cursor: default;
    }
}