// Colors:

// System Colors:
$color-primary: #7B61FF;
$color-primary2: #917CFF;
$color-secondary: #80858B;

// Background Colors:
$color-black: #000000;
$color-dark: #242426;
$color-graphite: #323537;

// Contextual Colors:
$color-error: #FF5154;
$color-light: #AFB2B6;
$color-white: #FFFFFF;

// Tertiari Colors:
$color-green: #00A340;
$color-yellow: #F3A608;
$color-orange: #F45D2D;

// Font Size:
$font-size-headline-1-desktop: 40px;
$font-size-headline-1-tablet: 32px;
$font-size-headline-1-mobile: 28px;
$font-size-headline-2-desktop: 24px;
$font-size-headline-2-mobile: 20px;
$font-size-headline-3-desktop: 20px;
$font-size-headline-3-mobile: 18px;
$font-size-subline-1: 18px;
$font-size-subline-2: 16px;
$font-size-body-1: 16px;

// Indents:
$indent-xxl: 64px;
$indent-xl: 56px;
$indent-l: 48px;
$indent-ml: 40px;
$indent-m: 32px;
$indent-s: 24px;
$indent-xs: 16px;
$indent-xxs: 8px;