@import "../../styles/variables";

.select{
    
    &__title{
        font-family: "Exo-2-SemiBold", sans-serif;
        color: $color-white;
        font-size: $font-size-subline-2;
        line-height: 24px;
        margin-bottom: 8px;

        &-light{
            color: $color-graphite;
        }
    }

    &__form{
        border-radius: 10px;
        border: none;
        padding: 16px 20px;
        font-family: "Exo-2-Medium", sans-serif;
        font-size: $font-size-subline-2;
        line-height: 24px;
        color: $color-secondary;
        background-color: $color-graphite;
        cursor: pointer;
        width: 100%;
    }
}
