@import "../../styles/variables";

.icon-favorite{
    width: min-content;
    height: min-content;
    background-color: $color-graphite;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;

    &_position_none{
        margin-left: 20px;
        position: relative;
        top: 0;
        left: 0;
    }
}