@import "../../styles/variables";

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;


    &__poster{
        position: relative;
        width: 100%;
    }

    &__image{
        border-radius: 20px;
        width: 100%;
    }

    &__title{
        font-family: "Exo-2-SemiBold", sans-serif;
        font-style: bold;
        color: $color-white;
        font-size: $font-size-subline-2;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 4px;
        cursor: pointer;

        &:hover{
            color: $color-primary;
        }

        &:visited{
            color: $color-white;
        }
    }
}