@import "../../styles/variables";

.genre{
    display: flex;
    flex-direction: row;
    color: white;

    &__value{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Exo-2-Medium", sans-serif;
        font-size: 1.5vh;
        line-height: 24px;
        color: $color-light;
        width: max-content;
    }

    &__dot{
        margin: 0 0.3vh;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4vh;
    }
}

@media screen and (max-width: 700px) {
    .genre{
        &__value{
            font-size: 1.5vh;
        }
    }
}