@import "../../styles/variables";

.header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;

    &_padding_63{
        padding: 0 64px;
    }

    &_padding_40{
        padding: 0 56px 0 40px;
    }
}