@import "../../styles/variables";

.navigation-menu{
    background-color: inherit;
    padding: 0 148px 0 64px;
    position: sticky;
    top: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 152px);
    

    &__links{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 40px;
    }

    &__сopyright{
        font-family: "Exo-2-Medium", sans-serif;
        font-style: medium;
        font-size: $font-size-subline-2;
        line-height: 24px;
        color: $color-light;
        white-space: nowrap;
        bottom: 0%;
        margin-bottom: 64px;
    }
}